:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --second-text-color: #757575;
}
body{
 background-color: white;
 color: #212121;
font-family: 'Roboto', sans-serif;
}

/* Logo */
.logo {
color: var(--primary-text-color);

font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}
.web-logo {
    color: #2196F3;
}

/* Навігація */
.site-nav{
list-style-type: none;
}
.site-nav a {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav a:hover,:focus {
color: var(--accent-color);
}

/* Контакти */
.contact {
list-style-type: none;
}
.contact a {
    color: var(--second-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact a:hover,:focus{
    color: var(--accent-color);
}
 
/* Герой */
.hero {
background-color: #2F303A;
}

.hero-button{
color: #FFFFFF;
cursor: pointer;
background-color: #2196F3;
font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px

}
.hero-button:hover{
background-color: #188CE8;
}

h1 {
color: #FFFFFF;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
h2 {

font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}

/* Особливості */
.specifics{
display: none;
}
 .specifics-list{
list-style-type: none;
 }

.specifics-list h3{

font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;

}
.specifics-list p {
color: var(--second-text-color);

font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;    
}

/* Чим ми займаємось */
.what-we-do-list{
list-style-type: none;
}

/* Наша команда */

.our-team-list h3{

font-weight: 500;
font-size: 16px;
line-height: 1.19;
 text-align: center;
letter-spacing: 0.03em;
}
.our-team-list p{
color: var(--second-text-color);

font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}
.our-team-list{
list-style-type: none;
}

/* Футер */
.footer {
background-color: #2F303A;;
}

.logo-footer{
color: #ffffff;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.contact-footer {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-footer a{
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}
.contact-footer a:hover,
:focus{
color: var(--accent-color);}
.contact-footer{
list-style-type: none;
}
.street {
color: #FFFFFF;
}


/* Портфоліо */
.portfolio {
display: none;
}

/* button-list */
.button-list button{
background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.button-list {
list-style-type: none;
}
.all:hover,:focus{
color: #FFFFFF;
background-color: var(--accent-color);
}

.button-list button:hover,:focus{
cursor: pointer;
}

/* Проект */
.project-list h3{

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-list p {
    color: var(--second-text-color);
    
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.project-list{
list-style-type: none;
}